.graph-container {
  &.is-position-absolute {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
  }

  .expand-button {
    position: relative;

    > div {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      color: cornflowerblue;
      z-index: 49;
    }
  }

  .sidepanel {
    position: absolute;
    z-index: 60;
    left: 0;
    margin-top: 10%;
    //top: 0;
    width: 400px;
    //height: 100vh;
    //background: rgb(93 138 155 / 40%);
    color: white;
    //padding: 20px;
  }
}
