.graph-container {
  &.is-position-absolute {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
  }

  .expand-button {
    position: relative;

    > div {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      color: cornflowerblue;
      z-index: 49;
    }
  }

  .sidepanel {
    position: absolute;
    z-index: 9999;
    margin-left: 1%;
    margin-top: 2%;
    //top: 0;
    width: 400px;
    //height: 100vh;
    //background: rgb(93 138 155 / 40%);
    color: inherit;
    //padding: 20px;

    .panel {
      background-color: white;
    }
    .table-wrapper {
      max-height: 400px;
      overflow-y: auto;
      table {
        background: transparent;

        td:nth-child(1) {
          text-transform: capitalize;
          font-weight: bold;
        }

        td:nth-child(2) {
          div {
            //white-space: pre-wrap;
            //max-width: 200px;
          }
        }
      }
    }
  }
}
