.connectionStatus {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ececec;
  border-top: 1px solid #444;
  padding: 1px 10px;

  * {
    vertical-align: middle;
  }
  span {
    padding: 0 5px;
  }

  .disconnect {
    margin-left: 20px;
  }
}
